#botones{
    float: right;
    margin-right: 40px}
.boton{
    padding: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    color: #d4eaff;
    background-color: rgb(0,0,255);
}
.boton:hover{
    color: rgb(0,0,255);
    background-color: #d4eaff;
    text-decoration: none;
}
#cfd{
    margin-left: 40px;
    float: left;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
}