body{
    background-color: rgb(0,0,255);
    margin: auto;
    width: 50%;
}
.boton{
    font-family: Arial, cursive;
    font-size: 12px;
    color: black;
    background-color: #d4eaff;
    border-radius: 5px;
    border: 1px solid #d4eaff;
    display: inline-block;
    width: 50px;
    padding: 5px 5px;
    margin-left: 30px;
    margin-top: 100px;
    float: left;
    text-decoration: none;
}
.inputs{
    font-family: "Comic Sans MS", cursive;
    color: #d4eaff;
    width: 325px;
    float: left;
    margin-top: 250px;
    text-align: center;
}
#logo{
   margin-left: 493px;
}
.interaccion{
    border: 2px solid #d4eaff;
    margin-top: 60px;
    padding: 10px;
    border-radius: 12px;
}
.canvas{
    margin-left: 330px;
    height: 600px;
    border: 2px solid #d4eaff;
    padding: 10px;
    border-radius: 12px;
}