body{
    background-color: rgb(0,0,255);
    margin: auto;
    width: 50%;
}
#ucc{
    margin-top: 20px;
    float: left;
}
.seleccion{
    font-family: "Comic Sans MS", cursive;
    width: 343px;
    text-align: center;
}
h1{
    font-size: 20px;
    color: #d4eaff;
}
h2{
    font-size: 15px;
    color: #d4eaff;
}
.boton{
    font-family: Arial, cursive;
    font-size: 20px;
    color: #d4eaff;
    background-color: #ba0000;
    border-radius: 5px;
    border: 1px solid #d4eaff;
    display: inline-block;
    width: 50%;
    padding: 10px 24px;
    text-decoration: none;
}
.boton:hover{
    color: rgb(0,0,255);
    background-color: #d4eaff;
    text-decoration: none;
}
.parrafo{
    margin-top: 20px;
    font-family: Arial, cursive;
    font-size: 15px;
    font-style: italic;
    width: 343px;
    background-color: #d4eaff;
    border-radius: 5px;
    border: 1px solid #d4eaff;
}
.boton2{
    font-family: Arial, cursive;
    font-size: 12px;
    color: black;
    background-color: #d4eaff;
    border-radius: 5px;
    border: 1px solid #d4eaff;
    display: inline-block;
    width: 50px;
    padding: 5px 5px;
    margin-left: 30px;
    margin-top: 50px;
    text-decoration: none;
}
.parrafo2{
    margin-top: 20px;
    font-family: Arial, cursive;
    font-size: 15px;
    font-style: italic;
    width: 219px;
    height: 390px;
    background-color: #d4eaff;
    border-radius: 5px;
    border: 1px solid #d4eaff;
}
#ley{
    float: left;
    width: 220px;
}
#coulomb{
    width: 220px;
    height: 176px;
    margin-top: 20px;
}
#profes{
    float: right;
    margin-top: 120px;
}
#alumnos{
    float: left;
    margin-top: 60px;
}
#deadpool{
    margin-left: 80px;
}
